
@font-face {
    font-family: "montserrat";
    src: url("fontes/Montserrat-Regular.otf");
}
html {
    height: 100%;
} body {
    height: 100%;
    margin: 0px;
    background-attachment: fixed;
    background-image: url("bg.jpg");
    background-size: 100% 100%;
}
.membros{
    position: absolute;
    display: block;
}

.barra{
    width: 80px;
    height: 10px;
    border: 5px solid #012201;
    background-color: #012201;
}

.recheio{
    height: 100%;
    background-color: #549127;
}
.carta {
    width: 300px;
    height: 500px;
    position: relative;
    background-color: #198C7B;
    border: solid 15px #0F2D40;
    margin: 30px;
    padding: 10px;
    display: inline-block;
    padding-left: 10px;
}
#marginBottom {
    height: 100px;
}
.atributo {
    font-family: montserrat;
}

#button {
    color:#0a0a0a;
    position: fixed;
    font-size: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-color: #198C7B;
    font-family: montserrat;
    border: 0px;
    z-index: 2;
}

.monstro {
    background-color: #83bb5b;
    height: 350px;
    width: 100%;
}
.stat {
    margin: auto auto;
}
.stats{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    bottom: 0px;
    margin: auto auto;
}


#monstros {
    size: 100%;
    margin: auto auto;
}

.lds-ellipsis {
    display: inline-block;
    width: 240px;
    height: 240px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ellipsis div {
    position: absolute;
    top: 99px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 24px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 24px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 96px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 168px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(72px, 0);
    }
  }


  #cover {
    background-color: #198C7B;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed;
  }