
@font-face {
    font-family: "montserrat";
    src: url("fontes/Montserrat-Regular.otf");
}
.barra{
    width: 100px;
    height: 10px;
    position: relative;
    border-width: 5px;
    border-color: #302B34;
    border-style: solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.barra:hover{
    border-width: 6px;
}
#linha
{
    text-align: left;
}
.recheio
{
    height: 100%;
    background-color: #709980;
}

#body
{
    max-width: 100%;
    align-content: center;
    background-color: #9593CC;
    padding: 10px;
}
#atributo
{
    font-family: montserrat;
    text-align: center;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
#atributo:hover
{
    font-size: 18px;
}
#divDoMonstro
{
    position: relative;
    height: 350px;
    width: 300;
    display: block;
    margin-left: auto;
    margin-right: auto;}
.botao {
    font-family: montserrat;
    border-radius: 5px;
    color: #000000;
    padding: 10px;
    background-color: #709980;
    border: solid #302B34 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 #botao {
    margin-top: 255px;
    margin-bottom: 255px;
    margin-left: 120px;
    font-family: montserrat;
    border-radius: 50px;
    padding-left: 18px;
    padding-right: 18px;
    color: #000000;
    background-color: #709980;
    border: solid #302B34 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
 }
 #botao:hover {
    border-width: 6px;
 }
 #monstroComBarras{
     padding: 20px;
     width: 300px;
     height: 550px;
     border-radius: 10px;
     background-color: rgb(192, 197, 219);
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    align-content: center;
    }

 #elementoFilho{
     width: 100%;
 }
 .cabeca{
     z-index: 1;
 }
 .perna{
     z-index: 1;
 }